@import url("../fonts/atlas-grotesk/fonts.css");

:root {
  --primary-color: #00758d;
}

html {
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 12pt;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: underline;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  padding: 0 1rem;
}